<!-- BEGIN feedback -->
<span class="feedback">{FEEDBACK}</span>
<br/>
<!-- END feedback -->
<p>{QUESTIONTEXT}</p>
<p class="ilClearFloat"><img src="{IMG_SRC}" alt="{IMG_ALT}" title="{IMG_TITLE}" class="img-responsive" /></p>
<div>
	<div class="ilClearFloat">
		<!-- BEGIN files -->
		<div class="assFileUploadTable">{FILES}</div>
		<!-- END files -->
		<h2>{TXT_UPLOAD_FILE}</h2>
		<div>
			<input type="file" name="upload" />
			<input type="submit" class="btn btn-default" name="cmd[{CMD_UPLOAD}]" value="{TEXT_UPLOAD}" />
		</div>
	</div>
</div>